<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        ご飯どこ行こっかな？_form
    </title>
</head>

<body>
    <h1>
        今日のご飯はどこにする？
    </h1>
    <p>必要な情報を入力してね！</p>
    <form method="post" th:action="@{/RouletteDinner_res}">
        <p>都道府県 <input type="text" name="pref"></p> <!--service_area-->
        <p>地域 <input type="text" name="area"></p> <!--midlle_area-->
        <p>キーワード <input type="text" name="genre"></p> <!--keyword-->

        <!--地域をどう絞れるかはAPI次第
            あと何を情報として絞れるのかも気になったり-->
        <br><br>
        <input type="submit" value="ルーレット!!">
    </form>
    <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif"
            alt="ホットペッパーグルメ Webサービス" width="135" height="17" border="0" title="ホットペッパーグルメ Webサービス"></a>
</body>

</html>