<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ご飯どこ行こっかな？ - ホーム</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>今日のご飯はどこにする？</h1>
        
        <h2>近くのお店をランダムで決定！</h2>
        
        <form method="get" th:action="@{/RouletteDinner_form}">
            <input type="submit" class="btn" value="決める！" />
        </form>
        
        <div class="api-logo">
            <a href="http://webservice.recruit.co.jp/">
                <img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパーグルメ Webサービス" width="135" height="17" border="0" title="ホットペッパーグルメ Webサービス">
            </a>
        </div>
    </div>
</body>

</html>